body {
    background-color: rgb(32, 32, 32);
    
    display: flex;
    margin: 0;
    padding: 0;
}
.linha {
    margin-left: 25px;
    width: 20px;
    color: gray;
}
hr {
    margin-left: 1%;
    margin-right: 0;
}
p {
    margin-left: 0;
    font-size: 22px;
}

label{
    font-size: 22px;
}
.cod {
    margin-top: -0.5%;
    color: lightblue;

}
.minutes, .seconds, .interval, .fChav {
    margin-left: 10%;
}

.inner, .minute, .sec, .sec--, .if, .Fcahav, .Difficult, .zeromin, .zerosec {
    margin-left: 20%;
}
.minutesMenos, .secI, .perdeu {
    margin-left: 30%;
}

input {
    background-color: rgb(48, 47, 47) ;
    border: none;
    font-size: 19px;
    color: white;
    width: 35px;
}
.start {
    width: 100px;
    color: lightblue;
}
input[type=submit] {
    width: 0;
    height: 0;
    
}

select {
    border: none;
    background-color: rgb(48, 47, 47);
    color: white;
    font-size: 19px;
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; margin: 0; 
}
.submit {
    border: none;
    background-color: rgb(32, 32, 32);
    font-size: 19px;
    color: #FFF;
    cursor: pointer;
}


p{
    width: 100%;
}


.lightyellow {
    color: rgb(236, 236, 146);
}
.yellow {
    color: yellow;
}
.blue {
    color: rgb(17, 17, 255);
}
.white {
    color: white;
}
.lightred {
    color: lightsalmon;
}
.purple {
    color: rgb(206, 0, 206);
}
.lightgreen {
    color: lightgreen;
}